# Gemini API
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# Path ke file model & artefak
MODEL_PATH=app/data/best_attention_model.keras
SCALER_PATH=app/data/scaler_attn.pkl
LABEL_ENCODER_PATH=app/data/label_encoder_attn.pkl
KNOWLEDGE_BASE_PATH=app/data/knowledge_base.json

# Server
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
